#main-container{

    background-color: #fff;
    padding: 10vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#why-button:hover{
    color:#119;
    cursor: pointer;
}

#why-button{
    outline: none;
    border: none;
    background-color: transparent;

    color: #32c;
    font-size: 18px;
    font-weight: 600;
}

#header{
    font-size: 2.5vw;
    width: 40vw;
}

#top-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
}

#bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bottom-container > div{
    margin-top: 60px;
    margin-right: 3vw;
}

@media only screen and (max-width: 768px){
    #why-button{
        font-size: 6vw;
    }

    #header{
        font-size: 8vw;
        width: 100%;
    }

    #top-container{
        flex-direction: column;
    }

    #bottom-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #bottom-container > div{
        margin-right: 0;
        
    }
}