#main-container{
    width: 100%;
    height: 300vh;
}

#main-container__ul{
    list-style: none;
    
    display: flex;
    /* justify-content: center; */
}

.main-container__li{
    margin: auto;
}

.link{
    font-size: 3vw;
}